<div class="container mt-5">
    <app-search-bar (searchItem)="searchItem($event)"></app-search-bar>
    <div class="row justify-content-between">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"
                    *ngFor="let item of data"
                    [ngClass]="{'active': item === selectedItem}"
                    (click)="selectItem(item)">
                    {{item.name}}
                </li>
            </ul>
            <app-pagination 
                [pages]="pages"
                [currentPage]="currentPage"
                (selectedPage)="pageSelected($event)"
                (nextPage)="nextPage()"
                (prevPage)="prevPage()"></app-pagination>
        </div>
        <div class="col-md-8" *ngIf="selectedItem !== undefined">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                      <app-loader *ngIf="isLoadingImg"></app-loader>
                      <img [hidden]="isLoadingImg" [src]="imageOfItem" (load)="onLoad()" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <h3 class="card-title font-weight-bold">{{selectedItem.name}}</h3>
                        <p class="card-text">Дата рождения: <span class="font-weight-bold">{{selectedItem.birth_year}}</span></p>
                        <p class="card-text">Цвет глаз: <span class="font-weight-bold">{{selectedItem.eye_color}}</span></p>
                        <p class="card-text">Пол: <span class="font-weight-bold">{{selectedItem.gender}}</span></p>
                        <p class="card-text">Цвет волос: <span class="font-weight-bold">{{selectedItem.hair_color}}</span></p>
                        <p class="card-text">Рост: <span class="font-weight-bold">{{selectedItem.height}}</span></p>
                        <p class="card-text">Вес: <span class="font-weight-bold">{{selectedItem.mass}}</span></p>
                        <p class="card-text">Цвет кожи: <span class="font-weight-bold">{{selectedItem.skin_color}}</span></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>