/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
$main-color: #343a40;
.list-group-item{
    cursor: pointer;
    &.active{
        background-color: $main-color !important;
        border-color: initial;
    }
}

.page-item{
    .page-link{
        color: $main-color;
    }
    &.active{
        background-color: $main-color;
        .page-link{
            background-color: $main-color !important;
            border-color: initial;
        }
    }
}
.btn-primary{
    border-color: initial;

    &:hover{
        border-color: initial;
    }
}