<div class="container">
    <h1 class="display-4 font-weight-semi-bold text-center mt-3">Welcome to StarWars!</h1>
    <h4 class="text-center">Краткая информация по вселенной звездных войн</h4>
    <h4 class="text-center">Перейдите по вкладкам чтобы получить информацию</h4>
    <div class="row mt-5">
        <div class="col-md-3 d-flex align-items-stretch mb-2">
            <div class="card shadow">
                <img src="https://starwars-visualguide.com/assets/img/categories/character.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Персонажи</h5>
                    <p class="card-text">Список популярных героев «Звёздных войны».</p>
                    <a href="javascript:;" 
                       class="btn btn-primary bg-dark"
                       [routerLink]="['/characters']">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-stretch mb-2">
            <div class="card shadow">
                <img src="https://starwars-visualguide.com/assets/img/categories/planets.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Планеты</h5>
                    <p class="card-text">Откройте для себя планеты вселенной «Звёздных войн»</p>
                    <a href="javascript:;" 
                       class="btn btn-primary bg-dark"
                       [routerLink]="['/planets']">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-stretch mb-2">
            <div class="card shadow">
                <img src="https://starwars-visualguide.com/assets/img/categories/species.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Расы</h5>
                    <p class="card-text">Описание представителей целой вселенной</p>
                    <a href="javascript:;" 
                       class="btn btn-primary bg-dark"
                       [routerLink]="['/species']">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-stretch mb-2">
            <div class="card shadow">
                <img src="https://starwars-visualguide.com/assets/img/categories/starships.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Звездные корабли</h5>
                    <p class="card-text">Узнайте детали быстрых и смертоносных кораблей</p>
                    <a href="javascript:;" 
                       class="btn btn-primary bg-dark"
                       [routerLink]="['/starships']">Перейти</a>
                </div>
            </div>
        </div>
    </div>

    <p class="lead mt-5 text-center">
        Сайт сделан с использованием Angular, Bootstrap, SCSS
    </p>

    <p>
        «Звёздные во́йны» (англ. Star Wars, МФА: [stɑːɹ wɔːɹz]) — медиафраншиза в жанре космическая опера, включающая в себя 11 
        художественных фильмов (9 эпизодов основной саги, также известна как «Сага Скайуокеров» и 2 фильма «историй»), а также 
        анимационные сериалы, мультфильмы, телефильмы, книги, комиксы, видеоигры, игрушки и прочие произведения, созданные в рамках 
        единой фантастической вселенной «Звёздных войн», задуманной и реализованной американским режиссёром Джорджем Лукасом в конце 
        1970-х годов и позднее расширенной.
        <br>
        «Звёздные войны» занимают второе место в истории по общим кассовым сборам среди всех кинофраншиз, уступая только серии фильмов 
        Кинематографической вселенной Marvel. В 2020 году общая стоимость франшизы «Звёздных войн» оценивалась в 70 миллиардов долларов 
        США и в настоящее время она является пятой самой кассовой медиафраншизой. 
    </p>
</div>
    